*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

body{
    padding: 64px;
}

header img{
    height: 49px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    border-bottom: 1px solid red;
    padding-bottom: 64px;
}

header input{
    height: 49px;
    flex-grow: 1;
    padding-inline: 12px;
    border: 1px solid red;
    outline: none;
    border-radius: 4px;
    /* font-size: 1rem; */
}

.button.show{
    height: 49px;
    min-width: 100px;
    padding: 0 8px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}
.button{
    display: none;
}


main.card-show .container{
    display: flex;
}

.container{
    padding-top: 32px;
    display: none;
    gap: 32px;
    /* justify-content: space-between; */

    /* quando tiver mais cards na horizontal esse comando quebra em linhas  */
    flex-wrap: wrap;

}

.card-contato{
    width: 250px ;
    height: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: 2px 2px 8px #0003;
    border-bottom: 32px solid red;
}

.card-contato img{
    width: 160px;
    border-radius: 50%;
    border: 4px solid red;
}

form{
    width: 80%;
  
    margin: auto;
    padding: 32px;
    display: none;
    flex-wrap: wrap;
    gap: 32px;
}
main.form-show form{
    display: flex;
}
.preview{
    /* background-color: blanchedalmond; */
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid red;
    overflow: hidden;

}
.preview-label{
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
}
.preview-input{
    display: none;
}
.preview-image{
    height: 100%;
    width: 100%;
}
.input-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.input{
    display: flex;
    flex-direction: column;
}
.input-text{
   height: 32px;
   border: 1px solid red;
   padding-left: 16px;
   outline: none;
}
.button-container{
    width: 100%;
    display: flex;
    padding-left: 40%;
    gap: 32px;
}